Using Plotly express as px, source the data using the command px.data.gapminder() and save it into a dataframe. Based on the data, map the following information with the appropriate geographical plot. Map out:

In [17]:
import plotly.express as px

In [18]:
df=px.data.gapminder() 
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [19]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap',
       'iso_alpha', 'iso_num'],
      dtype='object')

1. The mean life expectancy of all the Asian countries according to the data.

In [26]:
df.groupby('continent').mean()

             year    lifeExp           pop     gdpPercap     iso_num
continent
Africa     1979.5  48.865330  9.916003e+06   2193.754578  458.826923
Americas   1979.5  64.658737  2.450479e+07   7136.110356  393.720000
Asia       1979.5  60.064903  7.703872e+07   7902.150428  404.666667
Europe     1979.5  71.903686  1.716976e+07  14469.475533  427.633333
Oceania    1979.5  74.326208  8.874672e+06  18621.609223  295.000000

2. Deviation in GDP of each country in Europe and South America.